<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-schema" content="light dark" />
    <title>Digital IKOS</title>
    <link rel="stylesheet" href="/assets/styles.css" />
  </head>
  <body>
    <header>
      <h1><a href="/">Erik Skare</a></h1>

      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/calendar.html">Calendar</a></li>
          <li><a href="/resources.html">Resources</a></li>
          <li><a href="/digital_text_archive.html">Digital Text Archive</a></li>
        </ul>
      </nav>
    </header>

    <main>{{ content }}</main>
  </body>
</html>
